@using Proj1.Sevices;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Auto Test</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Proj1.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Auto Test</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Statistics</a>
                        </li>
                        
                        
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Tickets" asp-action="CheckUser">Tickets</a>


                            
                           
                                  
                    </ul>
                    <ul class="navbar-text" style="list-style: none;
    display: flex;
    gap: 5px;">
                        <li class="nav-item">

                            <div class="btn-group" role="group" aria-label="Button group with nested dropdown">

                                  <div class="btn-group" role="group">
                                    <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                     Language
                                   </button>
                                   <ul class="dropdown-menu">
                                     <li><a class="dropdown-item" asp-controller="Users" asp-action="ChangeLanguage" asp-route-language="uz"  >O'zbek</a></li>

                                     <li><a class="dropdown-item" asp-controller="Users" asp-action="ChangeLanguage" asp-route-language="uzc" >Kiril</a></li>
                                     <li><a class="dropdown-item" asp-controller="Users" asp-action="ChangeLanguage" asp-route-language="ru"  >Ruscha</a></li>
                                    </ul>
                                   </div>
                                  </div>


                        </li>
                        @if (!UserService.IsLoggedIn(Context))
                        {
                                    <li class="nav-item">
                                        <a class="btn btn-primary" asp-area="" asp-controller="Users" asp-action="SignUp" asp-route-id="1">Sign Up</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="btn btn-primary" asp-area="" asp-controller="Users" asp-action="SignIn" asp-route-id="1">Sign In</a>
                                    </li>
                        }
                        else
                        {
                                    <li class="nav-item">
                                        <a class="btn btn-primary" asp-area="" asp-controller="Users" asp-action="Profile" asp-route-id="1">Profile</a>
                                    </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>




    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Powered by <a class="text-dark" href="https://t.me/xon521">Xondamir </a> - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
