@using Proj1.Sevices;

@{
    ViewData["Title"] = "Home Page";
}



<div class="text-center">
    <div class="homepage-h1">

        <h1>Assalomu Alaykum</h1>
        </br>
        <h1>Avto Test</h1>
        </br>
        <h3> web-sahifamizga Xush kelibsiz!</h3>

    </div>

    <div class="homepage">

        <h1 class="display-4"></h1>

    </div>

  





    @{
        if (UserService.IsLoggedIn(Context))
        {


            var users = UserService.Users;
            <h1>Users </h1>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">№</th>
                        <th scope="col">Username</th>
                        <th scope="col">Name</th>
                        <th scope="col">CorrectCount</th>
                    </tr>
                </thead>
                <tbody>

                    @for (int i = 0; i < users.Count; i++)
                    {
                        var user = users[i];

                        <tr>
                            <th scope="row">@(i + 1)</th>
                        <td>@user.Username</td>
                        <td>@user.Name</td>
                        <td>@user.Tickets.Sum(t=>t.CorrectCount)</td>
                    </tr>
                }

            </tbody>
        </table>

        }
    }






        
           
        
  





























@*
    
@if (UserService.IsLoggedIn(Context))
{
 @model Language
<form asp-controller="Home" asp-action="Language">
  <label for="LanguageJsonName">Choose a language:</label>
  <select name="LanguageJsonName">
  <option value="uzlotin.json">Uzbek(lotin)</option>
  <option value="uz.kiril.json">Uzbek(kiril)</option>
  <option value="rus.json">Rus</option>
  <br><br>
  <input type="submit" value="Submit">
</form>
}
else{
<h1> </h1>
}*@
