@model ChangeUserModel

<h1>Change Photo</h1>
<form class="row g-3" style="width: 400px" asp-controller="Users" asp-action="ChangePhoto" enctype="multipart/form-data" method="post">
    <div>
        <input name="Photo" class="form-control" asp-for="Photo" type="file" />
        <span asp-validation-for="Photo"></span>
    </div>
    <button class="form-control"  type="submit" >Change Photo</button>
</form>
