@model ChangeUserModel

<h1>Change Password</h1>
<form class="row g-3" style="width: 400px" asp-controller="Users" asp-action="ChangePassword" method="post">
    <div >
        <input name="Password" class="form-control" asp-for="Password" type="text" placeholder="Password"/>
        <span class="text-danger" asp-validation-for="Password"></span>
    </div>

    <button class="form-control"  type="submit" >Change Password</button>

</form>