html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.pos-right{
    position:absolute;
    right:10px;
}.pos-right-2{
    position:absolute;
    right:100px;
}