
  <div class="modal-dialog" style="box-shadow: 0 0 40px rgba(8,7,16,0.6);">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title  text-danger " >Uzur siz hali tizimda emassiz !</h5>
         <a class="btn btn-close btn-outline-danger" asp-area="" asp-controller="Home" asp-action="Index" aria-label="Close"></a>
      </div>
      </br>
        <p class="text-dark text-center">  Agar Tizimda ro'yxatdan o'tmagan bo'lsangiz "Sign Up"  tugmasini bosishingizni so'raymiz !</p></br>
        <p class="text-dark text-center">  Allaqachon,Ro'yxatdan o'tgan bo'lasngiz, Tizimga kirish uchun </br> "Sign In" tugmasini bosishingizni so'raymiz !</p>
      <div class="modal-body">
      </div>
      <div class="modal-footer" style="padding: 20px">
        <a class="btn btn-primary text-dark pos-left" asp-area="" asp-controller="Users" asp-action="SignUp">Sign Up</a>
        <a class="btn btn-primary text-dark pos-right" asp-area="" asp-controller="Users" asp-action="SignIn">Sign In</a>
      </div>
    </div>
  </div>
