@model User

<h1>Tickets</h1>



@{
    for (int i = 0; i < Model.UserTickets.Count; i++)
    {
        <a asp-controller="Questions" asp-action="GetQuestionById" asp-route-id="@Model.UserTickets[i].StartIndex" asp-route-ticketIndex="@i" class=" number btn btn-primary">Ticket @(i + 1)</a>
        if ((i + 1) % 10 == 0)
        {
            <br />
            <br />
        }
    }
}

<h1>Ticket Cards here: </h1>
<a asp-controller="Questions" asp-action="TicketCards" class="btn btn-outline-primary">Ticket Cards</a>


